<table>
    <tr valign="top" class="top">
        <td class="amount">${{ "%.2f" % expense.transaction_amount }}</td>
        <td class="label">
            <h2 class="category">{{expense.category}}</h2>
            <p class="time">{{ expense.convert_date()}}</p>
        </td>
        <td>
            <form action="{{ url_for('delete_expense', expense_id=expense.id) }}" method="POST">
                {{ form.csrf_token }}
                <button type="submit" class="delete">delete</button>
            </form>
        
        </td>
    </tr>
    {% if expense.transaction_descript %}<tr><td class="description">{{ expense.transaction_descript }}</td></tr>{% endif %}
    
</table>