<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='images/d.svg')}}"/>

</head>
<body>
    <header>
        <nav>
            <a href="#"><h1 id="logo"><b>daiko</b>wallet</h1></a>
            <div id="center">
                <a href="#"><h2>why us</h2></a>
                <a href="#"><h2>learn more</h2></a>
                <a href="#"><h2>contact</h2></a>
            </div>
            <div id="login">
                <a href="{{url_for('login')}}"><h2>login</h2></a>
                <a href="{{url_for('register')}}" id="join"><span>
                    <h2 id="signup">sign up</h2></a>
                </span>
            </div>
        </nav>
    </header>
    <section id="hero">
        <div id="hero-display">
            <div id="hero-text">
                <h1>spend money the <b>right</b> way</h1>
                <h3>set goals and build healthy spending habits with <b>daiko</b></h3>
                <a id="join" href="{{url_for('register')}}">
                    <span id="try"><h2>try it now!</h2></span>
                </a>
            </div>
            

            <section>
                <img id="rectangle" src="{{ url_for('static', filename='images/mockup1.svg') }}">
                <img id="gradient" src="{{ url_for('static', filename='images/gradient.png') }}">
            </section>
        </div>
    </section>
    <section id="about">

    </section>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>