{% extends "base.html" %}

{% block content %}
<div id="main">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user.css') }}">
    <section class="user">
        <div class="profile">
            <img src="{{ user.avatar(128) }}">
            <div>
                <h1>{{ user.username }}</h1>
                {% if user.about_me %}<h1>{{ user.about_me }}</h1>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('settings') }}">edit settings</a></p>
                {% elif current_user.friends_status(user) == 0 %}
                <p>
                    <p><a href="{{ url_for('send_friend_request', user_id=current_user.id, friend_id=user.id ) }}">send friend request</a></p>
                </p>
                {% elif current_user.friends_status(user) == 1 %}
                <p>
                    <p><a href="{{ url_for('accept_friend_request', user_id=current_user.id, friend_id=user.id ) }}">accept friend request</a></p>
                </p>
                {% elif current_user.friends_status(user) == 2 %}
                <p>
                    <p><a href="{{ url_for('unfriend', user_id=current_user.id, friend_id=user.id )}}">requested</a></p>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('unfriend', user_id=current_user.id, friend_id=user.id )}}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='unfriend') }}
                    </form>
                </p>

                {% endif %} 
            </div>
        </div>
    </section>
    
    {% for expense in expenses %}
        {% include '_post.html' %}
    {% endfor %}
</div>
{% endblock %}